@{
    Layout = null;
}

<div class="widget">
    <form class="form-search widget-search-form" action="/Home/Ara" method="post">
        <input type="text" name="content" class="input-search-widget" placeholder="Bişeyler Ara">
        <button class="" type="submit" title="Start Search">
            <span aria-hidden="true" class="icon_search"></span>
        </button>
    </form>
</div>
